:root {
  /*Color*/
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #5a5959;
  --grey-light-color: #e0e0c0;

  /*Size*/
  --padding: 10px;
  --avatar-size: 36px;

  /*Font Size*/
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: 0;
  cursor: pointer;
  outline: 0;
  background: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .fa-search {
  margin-right: var(--padding);
}

/* Video Player */
/* .player {
  text-align: center;
  background-color: var(--black-color);
  position: sticky;
  top: 0;
} */

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

body > .info {
  padding: var(--padding);
}

.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndButton {
  display: flex;
  justify-content: space-between;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-large);
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
}

.info .metadata .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-medium);
  align-items: center;
  color: var(--grey-dark-color);
}

.actions button i {
  margin-bottom: 8px;
  font-size: 16px;
}

.actions button i.active {
  color: var(--blue-color);
}

.channel {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
  padding-left: 15px;
  padding-right: 30px;
}

.channel .metadata {
  display: flex;
  align-items: center;
}

.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.channel .info {
  display: flex;
  flex-direction: column;
}

.channel .metadata .info .name {
  font-size: var(--font-medium);
}

.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.channel .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-small);
}

.upNext {
  padding: var(--padding);
}

.upNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: 8px;
}

.upNext .item {
  display: flex;
  margin-top: var(--padding);
  margin-bottom: 30px;
}

.upNext .item .img {
  flex: 1 1 10%;
  margin-right: var(--padding);
}

.upNext .item .img img {
  width: 100%;
  height: 100px;
}

.upNext .item .info {
  flex: 1 1 60%;
}

.upNext .item .moreBtn {
  flex: 1 1 5%;
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
}
